// Container widths
//
// Set the container width, and override it for fixed navbard in media queries

@if $enable-grid-classes{
    .container{
        @include make-container();
        @include make-container-max-widths();
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

@if $enable-grid-classes{
    .container-fluid{
        @include make-container();
    }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes{
    .row{
        @include make-row();
    }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes{
    @include make-grid-columns();

    .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-9,
    .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-5,
    .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1{
        position: relative;
        min-height: 1px;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}
