img{
}

.thumb-image{
	position: relative;
	display: inline-block;

    .thumb-overlay{
        width:100%;
        position:absolute;
        top:100%;
        z-index: 1;

        .thumb-container{
            text-align: $thumb-overlay-text-align;
            font-size: $thumb-overlay-font-size;
            color: $thumb-overlay-font-color;
            width: $thumb-container-width;
            padding: $thumb-container-padding;
            text-shadow: 0 1px 0 rgba(0,0,0,.15);
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .thumb-container-full{
            width:100%;
        }

    }
}
