.intro{
    font-size:$page-intro-font-size;
    padding: $page-intro-padding;
}
.section-title{
    letter-spacing: $page-title-letter-space;
    position: relative;
    overflow: hidden;
    padding: $page-intro-padding;
    font-weight: 400;

    .section-title-left, .section-title-right{
        background-color: $body-bg;
        z-index: 2;
    }

    .section-title-right, .section-line{
           position: absolute;
    }

    .section-title-left{
        text-transform: uppercase;
        font-weight: 500;
        margin: 0px;
        padding-right: $page-title-text-padding;
        float:left;
        position: relative;
    }

    .section-title-right{
        right: 0;
        padding-left: $page-title-text-padding;
        display:block;
        clear:both;
    }

    .section-line{
        height: $page-title-line-height;
        margin-top: - $page-title-line-height;
        z-index: 0;
        top:50%;
        left: 0;
        right: 0;
        background: $white-darker;
    }
}



.post{
padding-bottom: 2rem;
    header{
        h1,h2,h3,h4,h5,h6{
            margin: 0.40rem 0 0 0;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            text-decoration: underline;
        }
        .article-meta{
            color: $gray-light;
            font-size: $article-meta-font-size;
            margin-top: 0;

            .meta-cards{
                padding: 0 10px 0 10px;
                border-right: 1px solid $white-darker;
            }

            .meta-author{
                   padding-left: 0px;
            }

        }
    }
}
