// Variables
//
//

// Table of Contents
//
// Colors
// Body
// Links
// Selection
// Grid breakpoints
// Grid containers
// Grid columns
// Typography
// Jumbotron
// Page


// Colours
//
// Grayscale and brand colors for use across framework

$white:                 #fefefe !default;
$white-darker:          darken($white, 15%)     !default;

$gray-dark:             #444444 !default;
$gray:                  #55595c !default;
$gray-light:            #818a91 !default;
$gray-lighter:          #fbfbfb !default;

$green-dark:            #348F50 !default;

//Base 16

$base-00:           #2C3E50 !default;
$base-01:           #34495E !default;
$base-02:           #7F8C8D !default;
$base-03:           #95A5A6 !default;
$base-04:           #BDC3C7 !default;
$base-05:           #e0e0e0 !default;
$base-06:           #f5f5f5 !default;
$base-07:           #ECF0F1 !default;

$base-08:           #E74C3C !default;
$base-09:           #E67E22 !default;
$base-0A:           #F1C40F !default;
$base-0B:           #2ECC71 !default;
$base-0C:           #1ABC9C !default;
$base-0D:           #3498DB !default;
$base-0E:           #9B59B6 !default;
$base-0F:           #be643c !default;

$full-white:        #ffffff !default;

// Brand Colours

$font-color:            #181818                         !default;
$font-color-light:      $base-06                        !default;

$brand-primary:         $base-0D                        !default;
$brand-primary-dark:    darken($brand-primary, 10%)     !default;
$brand-primary-darker:  darken($brand-primary, 25%)     !default;

$brand-secondary:       $base-01                        !default;
$brand-secondary-dark:  darken($brand-secondary, 10%)   !default;
$brand-secondary-darker:darken($brand-secondary, 25%)   !default;

$body-bg:               $base-07     !default;
$body-color:            $font-color  !default;

// Options
//
// Quickly toggle global styling by enabling or disabling features

$enable-grid-classes:           true    !default;
$enable-flex:                   false   !default;
$enable-rounded:                true    !default;
$enable-shadow:                 true    !default;

// Links
//
// Style for links

$link-color:            $brand-primary  !default;
$link-decoration:       underline !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$tag-link-decoration:   none    !default;

// Selection Color
//
// Style for selection

$selection-color:        $gray-lighter;
$selection-background:   $brand-secondary-darker;

// Grid breakpoints
//
// Defines the minium and maximum dimensions at which the layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    //Medium screen / tablet
    md: 786px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px
) !default;

// Grid containers
//
// Defines the maximum width of '.container' for differenet screen sizes.

$container-max-widths:(
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px,
) !default;

// Grid columns
//
// Set the number of coumns and specify the width of the gutters.

$grid-columns:          12 !default;
$grid-gutter-width:     1.875rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

//Header tags
$H-font-weight:             800         !default;
$H-line-height:             1.1         !default

$H-large-margin-top:        1.25rem     !default;
$H-large-margin-bottom:     0.625rem    !default;
$H-small-margin-top:        0.625rem    !default;
$H-small-margin-bottom:     0.625rem    !default;

//Small

$small-font-color:  lighten($font-color, 25%)   !default;
$small-font:        65%                         !default;

// import fonts

@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 15px !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;

// Componets

$border-radius:     .25rem  !default;
$border-radius-lg:  .3rem   !default;
$border-radius-sm:  .2rem   !default;

// Jumbotron

$jumbotron-padding:     2rem        !default;
$jumbotron-bg:          $gray-light !default;

// page

$page-intro-padding:   1rem 0       !default;
$page-intro-font-size: 2rem         !default;
$page-title-letter-space: 0.125rem  !default;
$page-title-padding: 1.25rem 0      !default;
$page-title-text-padding: 1rem      !default;
$page-title-line-height: 2px        !default;

// Images

$thumb-overlay-text-align:  left                !default;
$thumb-overlay-font-size:   1.5rem              !default;
$thumb-overlay-font-color:  $font-color-light   !default;

$thumb-container-width: 85%         !default;
$thumb-container-padding: 1rem      !default;

// Tags

$tag-font-color: $font-color-light          !default;
$tag-font-size: 0.8rem                      !default;
$tag-color:  $brand-secondary               !default;
$tag-padding:   0.25rem 0.55rem             !default;
$tag-margin:    0.50rem 0.35rem 0 0         !default;

// code

$code-font-size:        0.85rem                     !default;
$code-margin:           0 0.2rem                    !default;
$code-padding:          0.15rem 0.5rem              !default;

$pre-margin:            1rem 0rem                   !default;
$pre-color:             $font-color-light           !default;

$code-pre-margin:       1rem 1.5rem                 !default;
$code-background:       #333333                     !default;
$code-color:            $font-color-light           !default;

$pre-scrollable-max-height: 340px                   !default;

// card

$card-margin:           0.5rem 0 1rem 0             !default;
$card-content-padding:  20px                        !default;
$card-title-line-height:3.2rem                      !default;
$card-title-font-size:  1.6rem                      !default;

$card-action-padding:   $card-content-padding       !default;
$card-action-border:    1px solid $base-05          !default;

$card-link-color:       $link-color                 !default;

$card-small:            300px                       !default;
$card-medium:           400px                       !default;
$card-large:            500px                       !default;

$card-image-size-max:   60%                         !default;
