.horizontalGradient_1{
    @include horizontalGradient($brand-primary, $brand-secondary);
}

.palette{
    height: 100px;
    @include border-radius($border-radius-sm);
}

.tuatara{
    background-color: $tuatara;
}

.william{
    background-color: $william;
}

.white{
    background-color: $white;
}

.alto{
    background-color: $alto;
}

.san-juan{
    background-color: $san_juan;
}
