<!--head-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/fonts/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="fonts/favicon.ico" type="image/x-icon">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<script src="/js/framework.js"></script>
<link rel="stylesheet" href="/css/framework.css">
<!--endhead-->
