<!-- #push_sidebar -->
<div id="push_sidebar">
    <ul class="sidebar-container">
        <li>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    <a href="#" class="sidebar-brand">Brand Name</a>
                </li>
                <li><a href='#' class="active"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                <li><a href='#'><i class="fa fa-newspaper-o" aria-hidden="true"></i>News Feed</a></li>
                <li><a href='#'><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /#push_sidebar -->
