<!-- #push_sidebar -->
<div id="push_sidebar">
    <ul class="sidebar-container">
        <li>
            <ul class="sidebar-nav sidebar-header">
                <li><a href="#" class="sidebar-brand"><span class="img-icon"></span>Brand Name</a></li>
            </ul>
        </li>
        <li>
            <ul class="sidebar-nav">
                <li><a href='#'>Home</a></li>
                <li><a href='#'>Connect</a></li>
                <li><a href='#' class="active">Discover</a></li>
                <li><a href='#'>profile</a></li>
                <li><a href='#'>Statistics</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /#push_sidebar -->
