.center-text{
    text-align: center!important;
}

.highlight{
    background-color: $brand-primary;
    color: $white;
}

.hide-text {
  display: none;
  visibility: hidden;
  overflow: hidden;
}

.tag{
    color:$tag-font-color;
    background: $tag-color;
    font-size: $tag-font-size;
    padding: $tag-padding;
	margin: $tag-margin;
    display: inline-block;
    @include border-radius($border-radius-sm);
    a{
        text-decoration: $tag-link-decoration;

        color:inherit;
        width:100%;
        height: 100%;
    }
}
