button, input, select, textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

a.btn {
    color: $full-white;
    text-decoration:none;
}

.btn {
    display: inline-block;
    padding: $btn-padding;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    overflow: hidden;

    color: $full-white;
    background-color: $highlight;
    border-color: $highlight;

    @include border-radius($border-radius-sm);
}

.btn .btn:hover, .btn:focus, .btn:active{
    outline:none;
}

.btn:hover{
    opacity: 0.75;
}

.btn-sm{
    padding: .25rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
}

.btn-lg{
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
}

.btn-full{
    width:100%;
    display: block;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.btn-primary {
    color: $btn-primary-text;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-bg;
}

.btn-secondary {
    color: $highlight;
    background-color: transparent;
    border-color: $highlight;
}

.btn-success{
    color: $btn-primary-text;
    background-color: $brand-orange;
    border-color: $brand-orange;
}

.btn-info{
    color: $btn-primary-text;
    background-color: $brand-dark-blue;
    border-color: $brand-dark-blue;
}

.btn-warning{
    color: $btn-primary-text;
    background-color: $brand-yellow;
    border-color: $brand-yellow;
}

.btn-danger{
    color: $btn-primary-text;
    background-color: $brand-red;
    border-color: $brand-red;
}

.btn-right{
    float:right;
}

.btn-left{
    float:left;
}

// Search

.search-container{
    position: relative;
    display: block;
    padding-left: 15px;
    font-weight: normal;
    height: 100%;
}

.search-container input#search::-webkit-input-placeholder {
   color: #fff;
}

.search-container .icon{
    i{
        line-height: 2.35!important;
        position: absolute;
        margin-left: 8px;
        color: #ffffff;
        font-size: 1.25rem!important;
    }
}

.search-container input#search:hover,
.search-container input#search:focus,
.search-container input#search:active {
    outline:none;
}

.search-container input#search {
    width: 450px;
    height: 100%;
    background: #1f8a9b;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.65rem;
    padding-left: 40px;

    @include border-radius($border-radius-sm);
}

// Remove X from search

input[type=text]::-ms-clear {
    display: none;
    width : 0;
    height: 0;

}

input[type=text]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
