.jumbotron{
    padding: $jumbotron-padding ($jumbotron-padding / 2);
    margin-bottom: $jumbotron-padding;
    background-color: $jumbotron-bg;
    color: $full-white;
    //@include shadow();

    @include media-breakpoint-up(sm) {
        padding: ($jumbotron-padding * 2) $jumbotron-padding;
    }
}

.container{
    .jumbotron{
        @include border-radius($border-radius-sm);
    }
}

.jumbotron-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.jumbotron-full{
    height:100%;
    overflow: hidden;
    padding: 0px;
    margin:0px;
}
