
#wrapper {
	margin-right: 0;
	overflow: hidden;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

body.show_sidebar #wrapper {
    margin-left: 0px;
    opacity:0.3;

    @include media-breakpoint-up(lg) {
        margin-left: $sidebar-width;
        opacity:1;
    }
}

#push_sidebar {
    background: $sidebar-color;
    width: $sidebar-width;
    font-size: $sidebar-font-size;
    position: fixed;
    overflow: hidden;
    left: - $sidebar-width;
    top: 0;
    height: 100%;
    z-index: 999;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    a{
        display:block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $sidebar-font-color;
    }

    a.active{
        background-color: $sidebar-active-bg;
        color: $sidebar-font-color-active !important;
    }

    a:hover{
        color: lighten($sidebar-font-color, 25%);
    }

    .sidebar-container{
        text-indent: $sidebar-padding;

        .sidebar-header{
            background-color: #1b2a3d;
            min-height: $navbar-min-height;

            li{
                padding:22px 0;

                .sidebar-brand {
                    display: block;
                }
            }
        }
    }

    ul.sidebar-nav{
        li{
            line-height: 3.2rem;
        }

        li.image{
            text-align: center;
            padding:0 $sidebar-padding;
            margin: 32px 0;
        }
    }

    .sidebar:hover{
        overflow-y: auto;
    }
}

body.show_sidebar #push_sidebar{
    left: 0;
    top:0;
    @include shadow();
}

.img-icon{
    @include border-radius($border-radius-lg);
    background: url(https://unsplash.it/100/100?image=314);
    width: 46px;
    height: 46px;
    display:inline-block;
    margin-right: 15px;
    vertical-align:middle;
}

.logo-container{
    @include border-radius($border-radius-lg);
}

/*  NAVBAR  */

.nav_trigger {
    Display: block;
    visibility: visible;
    cursor: pointer;
	display: inline-block;
	font-size: 3rem;
	margin: 10px 20px 0 50px;
  	float:left;

    @include media-breakpoint-up(lg) {
        Display: none;
        visibility: hidden;
    }

}

.navbar{
    min-height: $navbar-min-height;
    margin-bottom: 20px;
    background-color: $body-bg;

    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.navbar-fixed-top{
    top: 0;
}

.navbar-fixed-bottom{
    bottom: 0;
    margin-bottom: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 998;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

body.show_sidebar .navbar-fixed-bottom,
body.show_sidebar .navbar-fixed-top{
    margin-left: 0px;

    @include media-breakpoint-up(lg) {
        margin-left: $sidebar-width;
        z-index: 999;
    }
}
