
#wrapper {
	margin-right: 0;
	overflow: hidden;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

body.show_sidebar #wrapper {
    margin-left: 0px;
    opacity:0.3;

    @include media-breakpoint-up(lg) {
        margin-left: $sidebar-width;
        opacity:1;
    }
}

#push_sidebar {
    background: $sidebar-main-primary;
    width: $sidebar-width;
    font-size: $sidebar-font-size;
    position: fixed;
    overflow: hidden;
    left: - $sidebar-width;
    top: 0;
    height: 100%;
    z-index: 999;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

	@include shadow();

	.sidebar-container{
		ul.sidebar-nav{
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;

			li.sidebar-header{
				text-transform: capitalize;
				a{
					color: #f7f8f8;
					font-size:1.2rem;
					height: $navbar-min-height;
				}
			}

			li a{
		        display:block;
		        text-decoration: none;
		        color: $sidebar-main-font;
				padding: 18px 0;

				.fa{
					display:block;
					font-size: 1.5rem;
					color: $sidebar-main-tertiary;
				}
		    }

		    a.active{
		        background-color: $sidebar-active-primary;
		        color: $sidebar-active-secondary!important;
				border-left: solid 3px $brand-primary;

				.fa{
					color: inherit;
				}
		    }
		}
	}
}

body.show_sidebar #push_sidebar{
    left: 0;
    top:0;
}

/*  NAVBAR  */

.nav_trigger {
    Display: block;
    visibility: visible;
    cursor: pointer;
	display: inline-block;
	margin: 0 20px 0 50px;
	height: $navbar-min-height;

    @include media-breakpoint-up(lg) {
        Display: none;
        visibility: hidden;
    }

}

.navbar{
    height: $navbar-min-height;
    background-color: $navbar-bg-primary;
	color:$navbar-bg-secondary;
	font-size: 2rem;
	display:block;

	@include shadow();

	.navbar-left{
		float:left;
	}

	.navbar-right{
		float:right;
	}


	.navbar-header{
		float:left;
		height: $navbar-min-height;

		.navbar-brand{
			font-weight: bold;
			display:inline-block;
			padding: 15px 20px;
			line-height: 2rem;

			a{
				color: $full-white;
				text-decoration: none;
			}
		}
	}

	.navbar-nav{
		li{
			display: inline-block;

			a{
				color: $navbar-bg-secondary;
				text-decoration: none;
				padding: 16px 20px;
				font-size: 1.5rem;
				display:block;
			}
		}
	}
}

.navbar-nav li:last-child{
	padding-right: 50px;
}


.navbar-fixed-top{
    top: 0;
}

.navbar-fixed-bottom{
    bottom: 0;
    margin-bottom: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 998;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

body.show_sidebar .navbar-fixed-bottom,
body.show_sidebar .navbar-fixed-top{
    margin-left: 0px;

    @include media-breakpoint-up(lg) {
        margin-left: $sidebar-width;
        z-index: 999;
    }
}
