
#wrapper {
	padding-top: $navbar-min-height;
	margin-right: 0;
	overflow: hidden;
    transition: none;
}

body.show_sidebar #wrapper {
    margin-left: 0px;
    opacity:0.3;

    @include media-breakpoint-up(lg) {
		margin-left: 200px;
        margin-left: $sidebar-width;
        opacity:1;
    }
}

#push_sidebar {
    background: $sidebar-main-primary;
    width: $sidebar-width;
    font-size: $sidebar-font-size;
    position: fixed;
    overflow: hidden;
    left: - $sidebar-width;
    top: 0;
    height: 100%;
    z-index: 999;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

	@include media-breakpoint-up(lg){
		transition: none;
	}

	.sidebar-container{
		ul.sidebar-nav{
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;

			li.sidebar-header{
				text-transform: capitalize;
				background-color: $brand-primary-middle;

				a{
					color: #f7f8f8;
					font-size:1.2rem;
					height: $navbar-min-height;
				}
			}

			li a{
		        display:block;
		        text-decoration: none;
		        color: $sidebar-main-font;
				padding: 18px 0;

				.fa{
					display:block;
					font-size: 1.5rem;
					color: $sidebar-main-tertiary;
				}
		    }

		    a.active{
		        background-color: $sidebar-active-primary;
		        color: $sidebar-active-secondary!important;
				border-left: solid 3px $brand-primary;

				.fa{
					color: inherit;
				}
		    }
		}
	}
}

body.show_sidebar #push_sidebar{
    left: 0;
    top:0;
}

body.show_sidebar .navbar-fixed-bottom,
body.show_sidebar .navbar-fixed-top{
	margin: inherit;

    @include media-breakpoint-up(lg) {
        margin-left: $sidebar-width;
    }
}

/* -----------------------------*/

nav{
    display: block;
}

.navbar{
    position: relative;
    padding: 10px 0.9375rem;
    background-color: #45c8dc;
	color: #1f8a9b;
	font-weight: bold;

	a{
		text-decoration: none;
	}
}

.navbar-fixed-top {
    top: 0;
    margin-top: 0px;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 998;
}

.navbar-brand {
    color: $full-white;
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
	font-weight: bold;
	line-height: 2.1;
}

.navbar::after {
    display: table;
    clear: both;
    content: "";
}

/* navbar toggle */

.navbar-toggler {
    padding: 0rem .75rem;
    font-size: 2rem;
    background-color: inherit;
    border: none;
    border-radius: .25rem;
}

.navbar-toggler i{
	line-height: 1.625;
}

/* nav */

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
	line-height: 2.40;
}

.navbar-nav{
    display: inline-block;
}

.navbar-nav .nav-item{
    display: inline-block;
}

.navbar-nav .nav-link {
    display: block;
    padding: .415rem 0;
    text-decoration: none;
    color: inherit;
}

.navbar-nav .nav-item +.nav-item {
    margin-left: 1rem;
}

.navbar-nav .nav-link+.nav-link {
    margin-left: 1rem;
}

.navbar-left{
    float:left;
}

.navbar-right{
    float:right;
}

/* navbar collapse */

.hide-sm-up{
	@include media-breakpoint-up(lg) {
		display: none;
		visibility: hidden;
	}
}

.collapse{
	display: none;

	@include media-breakpoint-up(lg) {
    	display: inline-block;
	}
}
