// Normalize
// Gets all browsers to the same starting postion before reboot
//

html{
    font-family: sans-serif;
}

//
// Remove default margin.
//

body{
    margin: 0;
}

//
// Fixes DOCTYPE 100% width
//

body, html {
    height:100%;
}

//
// Correct 'block' display
//

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display:block;
}

//
// Correct 'inline-block'
// Normalize vertical alignment of progress
//

audio,
canvas,
progress,
video{
    display:inline-block;
    vertical-align: baseline;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}
