// Variables
//
//

// Table of Contents
//
// Colors
// Body
// Links
// Selection
// Grid breakpoints
// Grid containers
// Grid columns
// Typography
// Jumbotron
// Page


// Colours
//
// Grayscale and brand colors for use across framework

$full-white:                #ffffff                         !default; //body
$off-white:                 #f7f8f8                         !default; //selected objects
$highlight:                 #dadbdf                         !default; //highlights for body

$brand-darker:              #1d2027;
$brand-Dark:                #262a33;
$brand-lighter:             #46494C;
$brand-light:               #838999;

$brand-primary:             #45c8dc;
$brand-primary-dark:        #1f8a9b;
$brand-primary-middle:      #3eb4c6;

$brand-orange:              #fd9162                         !default;
$brand-red:                 #fC4545                         !default;
$brand-yellow:              #fCB40B                         !default;
$brand-dark-blue:           #076F8F                         !default;

//Body

$font-primary:          $brand-lighter                  !default;
$font-secondary:        $brand-light                    !default;

$body-primary:          $full-white                     !default;
$body-secondary:        $off-white                      !default;
$body-highlight:        $highlight                      !default;

// Options
//
// Quickly toggle global styling by enabling or disabling features

$enable-grid-classes:           true    !default;
$enable-flex:                   false   !default;
$enable-rounded:                true    !default;
$enable-shadow:                 true    !default;

// Links
//
// Style for links

$link-color:            $brand-primary  !default;
$link-decoration:       underline !default;
$link-hover-color:      lighten($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$tag-link-decoration:   none    !default;

// Selection Color
//
// Style for selection

$selection-color:        $off-white;
$selection-background:   $font-primary;

// Grid breakpoints
//
// Defines the minium and maximum dimensions at which the layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    //Medium screen / tablet
    md: 786px,
    // Large screen / desktop
    lg: 1192px,
    // Extra large screen / wide desktop
    xl: 1460px
) !default;

// Grid containers
//
// Defines the maximum width of '.container' for differenet screen sizes.

$container-max-widths:(
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px,
) !default;

// Grid columns
//
// Set the number of coumns and specify the width of the gutters.

$grid-columns:          12 !default;
$grid-gutter-width:     1.875rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// import fonts

//@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

$font-family-sans-serif: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
//$font-family-base:       'Montserrat', sans-serif !default;

//Header tags
$H-font-weight:             800         !default;
$H-line-height:             1.1         !default

$H-large-margin-top:        1.25rem     !default;
$H-large-margin-bottom:     0.625rem    !default;
$H-small-margin-top:        0.625rem    !default;
$H-small-margin-bottom:     0.625rem    !default;

//Small

$small-font-color:  $font-secondary                 !default;
$small-font:        65%                             !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 15px !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;

//Hr

$hr-height:     3px                             !default;
$hr-color:      $body-highlight                 !default;

// Componets

$border-radius:     .25rem  !default;
$border-radius-lg:  .3rem   !default;
$border-radius-sm:  .2rem   !default;

// Jumbotron

$jumbotron-padding:     2rem                !default;
$jumbotron-bg:          $highlight          !default;

// page

$page-intro-padding:   1rem 0       !default;
$page-intro-font-size: 2rem         !default;
$page-title-letter-space: 0.125rem  !default;
$page-title-padding: 1.25rem 0      !default;
$page-title-text-padding: 1rem      !default;
$page-title-line-height: 2px        !default;

// Images

$thumb-overlay-text-align:  left                            !default;
$thumb-overlay-font-size:   1.5rem                          !default;
$thumb-overlay-font-color:  $full-white                     !default;

$thumb-container-width: 85%         !default;
$thumb-container-padding: 1rem      !default;

// Tags

$tag-font-color: $full-white                !default;
$tag-font-size: 0.8rem                      !default;
$tag-color:     $brand-primary              !default;
$tag-padding:   0.25rem 0.55rem             !default;
$tag-margin:    0.50rem 0.35rem 0 0         !default;

// code

$code-font-size:        0.85rem                     !default;
$code-margin:           0 0.2rem                    !default;
$code-padding:          0.15rem 0.5rem              !default;

$pre-margin:            1rem 0rem                   !default;
$pre-color:             $full-white                 !default;

$code-pre-margin:       1rem 1.5rem                 !default;
$code-background:       #333333                     !default;
$code-color:            $full-white                 !default;

$pre-scrollable-max-height: 340px                   !default;

// card

$card-margin:           0.5rem 0 1rem 0             !default;
$card-content-padding:  20px                        !default;
$card-title-line-height:3.2rem                      !default;
$card-title-font-size:  1.6rem                      !default;

$card-action-padding:   $card-content-padding       !default;
$card-action-border:    1px solid $body-highlight   !default;

$card-link-color:       $link-color                 !default;

$card-small:            300px                       !default;
$card-medium:           400px                       !default;
$card-large:            500px                       !default;

$card-image-size-max:   55%                         !default;

// Sidebar

$sidebar-width: 200px   !default;
$sidebar-font-size: 1rem  !default;

$sidebar-main-primary:       $brand-Dark;
$sidebar-main-secondary:     $brand-lighter;
$sidebar-main-tertiary:      #393d47;

$sidebar-main-font:          #4d515c;

$sidebar-active-primary:     $brand-darker;
$sidebar-active-secondary:   $brand-light;

// navbar

$navbar-min-height: 65px    !default;

$navbar-bg-primary:         $brand-primary              !default;
$navbar-bg-secondary:       $brand-primary-dark         !default;

// Buttons

$btn-padding:       0.375rem 1rem   !default;
$btn-font-size:     1rem            !default;
$btn-font-weight:   normal          !default;
$btn-line-height:   1.5             !default;

// Button - Primary
$btn-primary-bg:    $brand-primary  !default;
$btn-primary-text:  $full-white     !default;
